<form class="search-suggestions" data-typeahead data-typeahead-categories="concepts,equities" data-typeahead-view-all>
	<input data-typeahead-input>
	<button class="o-header__search-submit" type="submit" data-trackable="search-submit">
		Search
	</button>
	<div class="n-typeahead" hidden="" data-trackable="typeahead"></div>
</form>

<form class="topic-suggestions" data-typeahead data-typeahead-categories="concepts" data-typeahead-view-all>
	<input data-typeahead-input>
	<button class="o-header__search-submit" type="submit" data-trackable="search-submit">
		Search
	</button>
	<div class="n-typeahead" hidden="" data-trackable="typeahead"></div>
</form>
