<form class="search-suggestions" data-n-topic-search data-n-topic-search-categories="concepts,equities" data-n-topic-search-view-all>
	<input data-n-topic-search-input>
	<button type="submit">
		Search
	</button>
</form>
<!--
<form class="topic-suggestions" data-n-topic-search data-n-topic-search-categories="concepts" data-n-topic-search-view-all>
	<input data-n-topic-search-input>
	<button class="o-header__search-submit" type="submit" data-trackable="search-submit">
		Search
	</button>
</form>
<ul class="selected-topics"></ul>
 -->
