<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>n-topic-search-demo</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/public/main.css">
	</head>
	<body>
		<form class="search-suggestions" data-n-topic-search data-n-topic-search-categories="concepts,equities" data-n-topic-search-view-all>
			<input title="search-input" data-n-topic-search-input>
			<button type="submit">
				Search
			</button>
		</form>
		<script src="/public/main.js"></script>
	</body>
</html>


<!--
<form class="topic-suggestions" data-n-topic-search data-n-topic-search-categories="concepts" data-n-topic-search-view-all>
	<input data-n-topic-search-input>
	<button class="o-header__search-submit" type="submit" data-trackable="search-submit">
		Search
	</button>
</form>
<ul class="selected-topics"></ul>
 -->
